body{
    margin: 0%;
    font-family: 'Arvo', serif;
font-family: 'Poppins', sans-serif;
}

.Display{
    display: flex;
    margin: 5% 5%;
    
    

}

.half-width{
    width: 50%;
}
img{
    width: 70%;
    padding-left: 15%;
}

span{
    color: darkseagreen;
}
.h1-side-border{ 
    font-size: 60px;
    border-left: 5px solid purple;
    padding-left: 3%;
    border-radius: 5px;
}
.h1-side-borderless{ 
        font-size: 60px;    
        padding-left: 3%;
        text-align: center;
}
#h2_side_border_Mentor{
    border-left: 5px solid purple;
    border-radius: 5px;
    padding-left: 20px;
    
}


h2{
    font-weight: 800;
    font-size: 40px;
}
h3{
    font-weight: 700;
    font-size: 25px;
}
h5{
   font-weight:100;
   
}
a{text-decoration: none;
   
    padding: 10px 40px;
    background-image: linear-gradient(rgb(255, 140, 0),purple);
border-radius: 5px;
color: white;

}

#mission{
    background-image: url(images/illustrators/illustrator-1.png);
   
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
    padding:12% 2% 5%;
   
    background-color:rgb(188, 209, 180);
    margin-right: 20px;
    border-radius: 30px;
}
#vision{
    background-image: url(images/illustrators/illustrator-2.png);
   
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
    padding:12% 2% 5%;  
    background-color:rgb(172, 216, 228);
    margin-right: 20px;
    border-radius: 30px;

}
#goal{
    background-image: url(images/illustrators/illustrator-3.png);
   
    background-repeat: no-repeat;
    background-size: 45%;
    width: 100%;
    padding:12% 2% 5%;
    background-color:rgb(235, 204, 137);
    margin-right: 0px;
    border-radius: 30px;

}
#background_img_develop{
    background-image: url(./images/shapes/shape-1.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:left;
}
#background_img_skills{
    background-image: url(./images/shapes/shape-1.png);
    background-size: 70%;
    background-repeat:no-repeat;
    padding:5% 30% 55% 10%;
    background-position:right;
}

footer{
 
   
   background-color: rgb(20, 19, 32);
    text-align: center;
    color: blanchedalmond;
    padding-top: 5px;
    border-bottom: solid 30px rgb(20, 19, 32);
}
footer h3{
    font-style: italic;
    font-family:cursive;
}
footer h3 span{
    color: cyan;
} 
.Mentor{
    border-top: 10px solid;
    
    border-image:radial-gradient(rgb(255, 174, 0),rgb(144, 30, 148))30;
    background-image: url(./images/shapes/shape-5.png);
    background-position: right ;
    background-size: 20%;
    background-repeat:no-repeat;
}
#box_shadow_your_story{
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    padding: 20px 30px;
    margin-right: 30px;
    border-left: solid;
    border-top: solid;
    border-image: radial-gradient(red, rgb(48, 48, 224))30;;
    border-width: 10px;
    background-image:linear-gradient(rgba(207, 71, 178, 0.692),rgb(102, 90, 114));
    color:rgb(3, 3, 3);
}
#box_shadow_seeking_Mentor{
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    padding: 20px 30px;
    margin-right: 30px;
    border-left: solid;
    border-top: solid;
    border-image: radial-gradient(rgb(153, 149, 175), rgb(128, 54, 54))30;;
    border-width: 10px;
    background-image:linear-gradient(rgba(187, 150, 108, 0.692),rgb(151, 116, 192));
    color:rgb(0, 0, 0);
}
#box_shadow_support{
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    padding: 20px 30px;
    margin-right: 30px;
    border-left: solid;
    border-top: solid;
    border-image: radial-gradient(rgb(65, 148, 151), rgb(133, 150, 88))30;;
    border-width: 10px;
    background-image:linear-gradient(rgba(155, 109, 145, 0.692),rgb(189, 188, 130));
    color:rgb(0, 0, 0);
}
#box_shadow_attention{
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    padding: 20px 30px;
    margin-right: 30px;
    border-left: solid;
    border-top: solid;
    border-image: radial-gradient(rgb(136, 43, 139), rgb(156, 160, 103))30;;
    border-width: 10px;
    background-image:linear-gradient(rgba(190, 109, 173, 0.692),rgb(128, 156, 125));
    color:rgb(0, 0, 0);
}
#Shapes_img{
    
    background-repeat:no-repeat;
    background-size: 20%;
    background-position: top right ; 
    background-image: url(./images/shapes/shape-9.png); }
    form input,button{
    background-color:lavender;
    padding: 10px;
    border: 2px;
    margin: 5px 2px 5px 10px;
    border-radius: 30px;
    text-align: center;
    

}
form{
    background-color: thistle;
    padding: 10px;
    border-radius: 20px;
    color:rgb(13, 37, 37);
    text-align: center;
    margin-top:50px;
    margin-left: 5%;
    font-family: monospace;


}


